{% include 'adminheader.html' %}


<!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">

<center>
	<form method="post" style="margin-top: 70px">



		
		<h3 style="color: white">View Booking</h3>
		<table class="table" style="width: auto;">
			<tr>
				<th>Buyer Name</th>
				<th>Vehicle </th>

				<th>Amount</th>

				<th>Status</th>

			</tr>
			{% for row in data['book']%}
			<tr>
				<td>{{row['firstname']}} {{row['lastname']}}</td>
				<td>{{row['vname']}}</td>
				<td>{{row['amount']}}</td>
				<td>{{row['status']}}</td>
				<td><a href="adminviewpayment?book_id={{row['booking_id']}}">view payment</a></td>

			</tr>
			{% endfor%}
		</table>

</form>
</center>


</header>
      </div>
      <br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>

    </section><!-- #facts -->

{% include 'footer.html' %}
