{% include 'publicheader.html' %}

<section id="intro">
    <div class="intro-container">
     

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/static/img/intro-carousel/3.jpg" alt="" style="height:1000px;"  ></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style="color: white"></h2>

<form method="post">
	<center>
		<h2>FORGOT PASSWORD</h2>
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>username</th>
				<td><input type="text" name="un" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>phone</th>
				<td><input type="text" name="p" required="" class="form-control"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="forgot" value="Next" class="btn btn-success"></td>
			</tr>
			
		</table>
	</center>
</form>


              </div></div></div></div></div></section>
          


{% include 'footer.html' %}