{% include 'sellerheader.html' %}


<!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">

<center>
	<form method="post" style="margin-top: 70px">



		
		<h3 style="color: white">View Payment</h3>
		<table class="table" style="width: auto;">
			<tr>
				
				<th>Buyer</th>
				<th>Amount</th>
				<th>Date</th>

				<th>Phone</th>

				<th>Email</th>
				<th>Status</th>

			</tr>
			{% for row in data['pay']%}
			<tr>
				<td>{{row['firstname']}} {{row['lastname']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>				<td>{{row['amount']}}</td>
				<td>{{row['date']}}</td>
				<td>{{row['status']}}</td>
				
			</tr>
			{% endfor%}
		</table>

</form>
</center>


</header>
      </div>
      <br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>

    </section><!-- #facts -->

{% include 'footer.html' %}
