
{% include 'sellerheader.html' %}
<!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
<center>
<form method="post" style="margin-top:5px" enctype="multipart/form-data">
	
	<h3 style="color: white">  View Subcategory</h3>

		<table class="table" style="width: 500px">
	<tr>
		<th>Subcategory</th>

	</tr>
	{% for row in data['subcat'] %}
	<tr>
		<td>{{ row['subcategory'] }}</td>
<td><a class="btn btn-danger" href="sellermanagecar?subcategory_id={{row['subcategory_id']}}">Add Vehicle</a></td>

</tr>
{%endfor%}
</table>
</center>

</form>
</center>
</header>
      </div>
<br><br><br><br><br><br><br>
    </section><!-- #facts -->

{% include 'footer.html' %}