{% include 'publicheader.html' %}

<section id="intro">
    <div class="intro-container">
     

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/static/img/intro-carousel/3.jpg" alt="" style="height:1000px;"  ></div>
            <div class="carousel-container">
              <div class="carousel-content">
<form method="post">

<center>
                  <h2 class="animate__animated animate__fadeInDown">Set New Password</h2>

<table class="table" style="width: auto;color: white" class="animate__animated animate__fadeInDown">
 <table class="table" style="width: 600px;color: white">
    <tr>
      <th>New Password</th>
      <td><input type="text" name="new_pas" class="form-control"></td>
    </tr>
     <tr>
      <th>Conform Password</th>
      <td><input type="password" name="con_pas" class="form-control"></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input type="submit" name="conform" value="confirm" class="btn btn-success"></td>
    </tr>
  </table>
</center>
    </form>                
              </div></div></div></div></div></section>
          
          
{% include 'footer.html'%}

